@import '../../index.scss';

.info_block {
  max-width: 525px;
  h1 {
    font-weight: 700;
    font-size: 50px;
    line-height: 55px;
    letter-spacing: -0.520833px;
    color: $WHITE;
    margin-bottom: 25px;

    @include mq(700px) {
      font-size: 28px;
      line-height: 36px;
      letter-spacing: -0.291667px;
    }
  }

  p {
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: $WHITE;
  }

  @include mq(900px) {
    text-align: center;
  }
}
