@import '../../index.scss';

section {
  h1 {
    font-weight: 700;
    font-size: 50px;
    line-height: 55px;
    letter-spacing: -0.520833px;
    color: $WHITE;
    margin-bottom: 25px;
  }

  p {
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: $WHITE;
  }
}
