@import '../../index.scss';

section {
  max-width: 540px;
  width: 100%;

  .fname,
  .lName,
  .email,
  .password {
    position: relative;
  }

  svg {
    position: absolute;
    top: 16px;
    right: 16px;
  }

  input {
    width: 100%;
    font-weight: 600;
    font-size: 14px;
    line-height: 26px;
    letter-spacing: 0.25px;
    color: $DARK-BLUE;
    padding-left: 32px;
    padding-block: 14px;
    margin-bottom: 20px;
    border: 1px solid #dedede;
    border-radius: 5px;

    &:focus {
      outline: none !important;
      border: 1px solid $BLUE;
      opacity: 1;
    }
  }

  button {
    font-weight: 600;
    font-size: 15px;
    line-height: 26px;
    letter-spacing: 1px;
    color: $WHITE;
    background: $GREEN;
    box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.0908818);
    border-radius: 5px;
    width: 100%;
    border: none;
    padding-block: 15px;
    margin-bottom: 8px;
    cursor: pointer;
    &:active {
      transform: scale(0.98);
      background: #77e2b3;
    }
  }

  form {
    background-color: $WHITE;

    box-shadow: 0px 8px 0px rgba(0, 0, 0, 0.14688);
    border-radius: 10px;
    padding-block: 40px;
    padding-inline: 40px;
    .span_active {
      display: block;
      font-style: italic;
      font-weight: 500;
      font-size: 11px;
      line-height: 16px;
      text-align: right;
      color: $RED;
      margin-bottom: 19px;
    }
    .span_disabled {
      display: none;
    }
  }
  .terms {
    font-weight: 500;
    font-size: 11px;
    line-height: 26px;
    text-align: center;
    color: $GRAYISH-BLUE;
    span {
      font-weight: 700;
      color: $RED;
    }
  }
}
