*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
}

$RED: hsl(0, 100%, 74%);
$GREEN: hsl(154, 59%, 51%);
$BLUE: hsl(248, 32%, 49%);
$DARK-BLUE: hsl(249, 10%, 26%);
$GRAYISH-BLUE: hsl(246, 25%, 77%);
$WHITE: hsl(0, 0%, 100%);

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

@mixin mq($size) {
  @media screen and (max-width: $size) {
    @content;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-size: 16px;
  font-family: 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  background-image: url(./assets/images/bg-intro-desktop.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: $RED;
  background-blend-mode: inherit;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
